<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.robin.papers">

    <!-- 必须的权限 -->
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 推荐的权限 -->
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许安装安装包-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name="com.example.robin.papers.umengUtil.umengApplication.UMapplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.robin.papers.activity.SplashActivity"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.robin.papers.activity.LoginActivity" />
        <activity android:name="com.example.robin.papers.activity.AdsActivity" />
        <activity android:name="com.example.robin.papers.activity.AdsDetailsActivity" />
        <activity
            android:name="com.example.robin.papers.activity.MainActivity"
            android:label=""
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop"/>
        <activity android:name="com.example.robin.papers.activity.WebViewActivity"/>
        <activity android:name="com.example.robin.papers.activity.FileDetailActivity"/>
        <activity android:name="com.example.robin.papers.activity.UserInfoActivity"/>
        <activity android:name="com.example.robin.papers.activity.ForgetPswActivity"/>
        <activity android:name="com.example.robin.papers.activity.RegisterActivity"/>
        <activity android:name="com.example.robin.papers.activity.PerfectInfoActivity"/>
        <activity android:name="com.example.robin.papers.activity.AuthPerUserInfo"/>
        <activity android:name="com.example.robin.papers.activity.BaseActivity"/>
        <activity android:name="com.example.robin.papers.activity.UpLoadActivity"/>
        <activity android:name="com.example.robin.papers.studentCircle.studentCircleActivity.MixShowActivity"/>
        <activity android:name="com.example.robin.papers.studentCircle.studentCircleActivity.BaseActivity"/>
        <activity android:name="com.example.robin.papers.studentCircle.studentCircleActivity.PreviewImage"/>
        <activity android:name="com.example.robin.papers.studentCircle.studentCircleActivity.DetailsActivity"/>
        <activity android:name="com.example.robin.papers.studentCircle.studentCircleActivity.PostAddActivity"/>
        <activity android:name=".studentCircle.studentCircleActivity.MyCollectionActivity"/>
        <activity android:name=".studentCircle.studentCircleActivity.MyDynamicActivity"/>
        <activity android:name="com.example.robin.papers.activity.PdfViewActivity" />



        <!--友盟配置-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56128c76e0f55aa3ff006c5c" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="期末考啦1" />
        <!--qq第三方登录配置-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104895232" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.robin.papers.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--屏幕适配方案AndroidAutoSize，填写全局设计图尺寸 (单位 dp)-->

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />

        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />


    </application>


</manifest>